<script type='text/javascript'>
  var map;
  var markers = [];

  function initMap() {
    var paris = {lat: 41.87194, lng: 12.567379999999957};
    var myloc;

    map = new google.maps.Map(document.getElementById('map'), {
      zoom: 2,
      center: paris,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

      myloc = new google.maps.Marker({
      clickable: false,
      icon: new google.maps.MarkerImage('http://gmaps-utility-library-dev.googlecode.com/svn/tags/markermanager/1.0/examples/images/house.png'),
      shadow: null,
      zIndex: 999,
      map: map
      })

    if (navigator.geolocation) navigator.geolocation.getCurrentPosition(function(pos) {
        var me = new google.maps.LatLng(pos.coords.latitude, pos.coords.longitude);
        myloc.setPosition(me);
        map.setOptions({zoom : 10, center: me});
    })
  }

  function setMapOnAll(map) {
    for (var i = 0; i < markers.length; i++) {
      markers[i].setMap(map);
    }
  }
  
  function setMapNotOnAll(map, elem) {
    for (var i = 0; i < markers.length; i++) {
      if(markers[i].category == elem)
      markers[i].setMap(map);
    }
  }

  function addMarker(location, id) {
    var image;
    var marker;

    if(id == 'theatre')
         image = {url: 'https://storage.googleapis.com/geolocalisation/theatre05.png'};
    else if(id == 'club')
      image = {url: 'https://storage.googleapis.com/geolocalisation/club01.png'};
    else if(id == 'museum')
      image = {url: 'https://storage.googleapis.com/geolocalisation/museum.png'}
      marker = new google.maps.Marker({
      position: location,
      icon : image,
      map: map,
      category: id
    });
    markers.push(marker);
  }

  function show_by_filter(elem){
    $.ajax({
    type: "GET",
    url: '/interests',
    data : 'category='+elem,
    success: function (data) {
      $.each(data.message,function(index, valeur){
        loc = { lat: valeur.latitude, lng: valeur.longitude };
        addMarker(loc, elem);
      })
     }
    })
  }

  function HomePos(position){
    var loc = { lat: position.coords.latitude, lng: position.coords.longitude };
    alert(position.coords.longitude);
    addMarker(loc, 'home');
  }

  function checkbox(id){
    if (document.getElementById(id).checked == true){
      $('.'+id).show();
      if (id != 'home')
        show_by_filter(id)
      else{
        if (navigator.geolocation)
          navigator.geolocation.getCurrentPosition(HomePos);
      }
    }
    else{
      setMapNotOnAll(null, id);
      $('.'+ id).hide();
    }
  }

  google.maps.event.addDomListener(window, 'load', initMap);
</script>
<div class= 'jumbotron container'>
  <% @interest.each do |i| %>
    <div class="row">
      <div class="col-sm-6" style="background-color:green">
        <%= i.name %> :
        <%= i.category %>
      </div>
    </div>
  <% end%>

  <div class="row">
  
  </div>
  <div id='map' style="width: 500px;height: 400px;background-color: #CCC;" ></div>
  <div class="row">
    <FORM>
      <INPUT type="checkbox" id='theatre' onclick="checkbox('theatre')" > Theatre
      <INPUT type="checkbox" id='museum' onclick="checkbox('museum')" > Museum
      <INPUT type="checkbox" id='club' onclick="checkbox('club')"> Club
    </FORM>
  </div>

  <!-- partial -->

  <div class="row">
    <div class='theatre' >
      <% @interest.each do |i| %>
        <div class="row">
          <div class="col-sm-6" >
          <% if i.category == 'theatre'.capitalize %>
           <%= i.name %> :
           <%= i.address %>
          <% end%>
         </div>
       </div>
      <% end%>
    </div>
    <div class='museum' >
      <% @interest.each do |i| %>
        <div class="row">
          <div class="col-sm-6" >
          <% if i.category == 'museum'.capitalize %>
           <%= i.name %> :
           <%= i.address %>
          <% end%>
         </div>
       </div>
      <% end%>
    </div>

 <!-- partial -->

  </div>
</div>
