<!DOCTYPE html>
<html>
<head>
  <title>Map Of Interests</title>
   <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
   <script src="https://maps.googleapis.com/maps/api/js"></script>
</head>
<body>
  <%= yield %>
<footer>
  <%= link_to 'Admin', admin_root_path %>
  <%= link_to 'fullscreen', fullscreen_path %>
  <%= link_to 'littlescreen', root_path %>
</footer>
</body>
</html>
